@charset "ISO-8859-1";
code {background-color: Gainsboro;
	 border: 1px solid Grey;
	 /*margin-left: 10px;*/
	 padding: 3px;
	 line-height: 1.8;}
	 
.flexC {
	list-style-type:none;
	display: flex;
}
.flexC > li {
	display: block;
	background-color: Beige;
	border: 1px solid Grey;
	padding: 2px;
	margin:2px;
}/*
li a:hover {
	background-color: #555;
}

.active {
	
}*/
