/* */
$border: #ddd;
$border-hover: #aaa;
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 20px;
$left: -($ident);

/* */
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  padding:50px;
  font-family:helvetica, arial,sans-serif;
}
ul {
  margin-left:$ident;
}

/*
.a {
  list-style-type: katakana;
}*/

/* This provides the formatting for items in the tree */
/* ------------------------------------------------   */
.tree {
background: #ff9999;
list-style-type: none;
    &:before {
      content: "";
      position: absolute;
      top:-10px;
      left:$left;
      border-left: 1px solid #ddd;
      border-bottom:1px solid #ddd;
      width:$ident;
      height:15px;
  li {
    list-style-type: square;
    margin:10px 0 10px 10px;
    position: relative;
    /*
    &:before {
      content: "";
      position: absolute;
      top:-10px;
      left:$left;
      border-left: 1px solid $border;
      border-bottom:1px solid $border;
      width:$ident;
      height:15px;
    }
    &:after {
      position:absolute;
      content:"";
      top:5px;
      left:$left;
      border-left: 1px solid $border;
      border-top:1px solid $border;
      width:$ident;
      height:100%;
    }
    &:last-child:after {
      display:none;
    }
    */
    span {
      display:block;
      border: 1px solid $border;
      padding:10px;
      color:$text;
      text-decoration:none;
    }
  }
}

/* This provides formatting for hovering over */
/* ------------------------------------------ */
/*
.wtree {
  li {
    span {
      &:hover,
      &:focus {
        background: $bg-hover; 
        color: $text-hover; 
        border: 1px solid $border-hover;
        & + ul {
          li {
            span {
              background: $bg-hover; 
              color: $text-hover; 
              border: 1px solid $border-hover;
            }
          }
        }
      }

      &:hover + ul, 
      &:focus + ul {
        li {
          &:after,&:before {
            border-color:  $border-hover;
          }
        }
      }
    }
  }
}
*/
